*{
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    align-self: flex-start; /* Push to right */
    margin-right: 50px;    /* Add spacing from right edge */
    text-align: right;
    color: yellow;
    font-size: 50px;
   
}

body{
    background-color: #2e123f;
    text-align: center;
}

.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
     background-color:rgb(16, 3, 3)

}

.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow:0 0 1rem rgba(0,0,0,0.3) ;
    font-size: 8vmin;
    color:red ;
    background-color: bisque;
}
#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:black;
    color:white;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:black;
    color:white;
    border-radius: 1rem;
    border: none;
}
#msg{
    color:bisque;
    font-size: 7vmin;
}
.msg-container{
   height:30vmin ;
}
.hide{
    display: none;
}
